  .dragme {
    position: relative;
    cursor: move;
		z-index: 2;
  }  
.bottom {
    position: absolute;
		top: 0px;
		left: 0px;
		z-index: 0;
  }
	
	.text {
		 color: white;
	}
	
	#top-part {
		background-color: white;
		left: 200px;
		top: 0px;
		height: 100px;
		width: calc(100vw - 200px);
		position: absolute;
		z-index: 0;
	}
	
	.lore-button{
		position: absolute;
		z-index: 10;
		top: 15px;
		right: 15px;
	}
	
	.map-button{
		position: absolute;
		z-index: 10;
		top: 15px;
		right: 180px;
		
	}

#grandPooBah {
  background-image: url(https://i.postimg.cc/Jn6y7ZZQ/THEmap.png);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vh;
  height: 100vh;
	background-size: contain;
}

.mapGuy {
  background-color: white;
  opacity: 0.3;
  width: 100vh;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

#vestian {
  clip-path: polygon(12% 18%, 14% 23%, 19% 30%, 21% 39%, 17% 50%, 12% 61%, 5% 62%, 1% 57%, 1% 48%, 4% 41%, 4% 31%, 7% 27%, 10% 21%);
}

#angreifen {
  clip-path: polygon(40% 0, 52% 9%, 62% 1%, 74% 6%, 53% 37%, 27% 5%);
}

#ost {
  clip-path: polygon(91% 79%, 85% 67%, 82% 63%, 78% 53%, 80% 45%, 82% 42%, 84% 37%, 89% 34%, 92% 30%, 95% 28%, 97% 34%, 99% 40%, 100% 47%, 100% 55%, 97% 64%, 95% 70%, 93% 75%);
}

#vertei {
  clip-path: polygon(26% 93%, 32% 91%, 35% 86%, 40% 83%, 40% 78%, 46% 77%, 55% 81%, 59% 89%, 62% 96%, 67% 97%, 59% 99%, 52% 100%, 45% 100%, 40% 99%, 34% 97%, 31% 96%);
}

#festung {
  z-index: 3;
  clip-path: polygon(50% 43%, 51% 47%, 52% 45%, 52% 44%, 53% 43%, 51% 42%);
}

#sustentar {
  clip-path: polygon(45% 64%, 50% 61%, 51% 63%, 53% 61%, 53% 62%, 53% 58%, 54% 57%, 58% 57%, 59% 59%, 57% 62%, 63% 61%, 62% 63%, 60% 64%, 58% 65%, 56% 66%, 54% 66%, 52% 67%, 51% 68%, 50% 66%, 48% 65%, 47% 64%);
}

#daigaku {
  z-index: 2;
  clip-path: circle(2.1% at 34% 32%);
}

#gdush {
  clip-path: polygon(33% 42%, 35% 42%, 37% 44%, 34% 46%, 33% 44%);
}

#gaifal {
  z-index: 2;
  clip-path: circle(1.9% at 78% 50%);
}

#cragna {
  clip-path: polygon(33% 31%, 37% 31%, 38% 33%, 42% 34%, 41% 36%, 44% 37%, 44% 39%, 46% 39%, 46% 41%, 49% 44%, 41% 47%, 39% 46%, 40% 45%, 38% 44%, 38% 42%, 35% 40%, 37% 38%, 36% 37%, 36% 35%, 34% 35%);
}

#drynafal {
  clip-path: circle(3.7% at 47% 55%);
}

#cydical {
  z-index: 2;
  clip-path: circle(3.7% at 55% 52%);
}

#lydafal {
  clip-path: circle(3.7% at 55% 47%);
}

#major {
  z-index: 2;
  clip-path: polygon(1% 48%, 2% 47%, 3% 45%, 4% 43%, 4% 41%, 4% 39%, 4% 37%, 4% 35%, 4% 33%, 3% 35%, 2% 37%, 2% 39%, 1% 39%, 1% 42%, 0 45%);
}

#minor {
  z-index: 2;
  clip-path: polygon(9% 23%, 8% 24%, 7% 25%, 6% 26%, 5% 28%, 8% 27%, 9% 26%, 9% 25%);
}

#mesa {
  clip-path: polygon(17% 13%, 18% 15%, 19% 17%, 20% 19%, 22% 22%, 24% 24%, 26% 24%, 25% 22%, 24% 19%, 25% 17%, 25% 15%, 25% 13%, 25% 12%, 24% 10%, 24% 9%, 20% 10%);
}

#velho {
  z-index: 2;
  clip-path: polygon(42% 1%, 45% 1%, 50% 0%, 57% 1%, 60% 2%, 59% 4%, 60% 5%, 59% 7%, 56% 8%, 54% 8%, 53% 7%, 50% 8%, 49% 9%, 46% 9%, 45% 7%, 43% 6%);
}

#vash {
  clip-path: polygon(75% 33%, 74% 34%, 75% 35%, 78% 35%, 80% 35%, 81% 34%, 80% 32%, 81% 30%, 78% 27%, 79% 25%, 78% 22%, 77% 24%, 76% 26%, 74% 28%, 74% 30%);
}

#cursed {
  z-index: 2;
  clip-path: polygon(97% 34%, 97% 36%, 97% 39%, 97% 43%, 99% 45%, 100% 49%, 99% 52%, 98% 55%, 98% 59%, 100% 54%, 100% 42%, 99% 39%);
}

#collapse {
  clip-path: polygon(63% 92%, 74% 89%, 82% 80%, 83% 69%, 79% 70%, 77% 73%, 74% 73%, 69% 79%, 66% 84%);
}

#dregs {
  clip-path: polygon(47% 70%, 53% 71%, 55% 81%, 45% 76%);
}

#totd {
  z-index: 2;
  clip-path: circle(2.2% at 55% 58%);
}

#islar {
  clip-path: circle(10.2% at 23% 75%);
}

#finoak {
  clip-path: circle(2.4% at 22% 41%);
}

#dias {
  z-index: 999;
  clip-path: circle(1.2% at 50% 50%);
}

#redacted {
  z-index: 2;
  clip-path: polygon(67% 87%, 68% 85%, 69% 82%, 66% 85%);
}

#dias{
	z-index: 999;
	clip-path: circle(1.2% at 50% 50%);
}
#redacted{
	z-index: 2;
	clip-path: polygon(67% 87%, 68% 85%, 69% 82%, 66% 85%);
}

	
