  .bottom {
    position: absolute;
		top: 0px;
		left: 0px;
		z-index: 0;
  }
	
	.text {
		 color: white;
	}
	
	#top-part {
		background-color: white;
		left: 200px;
		top: 0px;
		height: 100px;
		width: calc(100vw - 200px);
		position: absolute;
		z-index: 0;
	}
	
	.lore-button{
		position: absolute;
		z-index: 10;
		top: 15px;
		right: 15px;
	}
	
	.map-button{
		position: absolute;
		z-index: 10;
		top: 15px;
		right: 180px;
		
	}
	
